p {
    border: 2px solid red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.heading1 {
    border: 5px solid orange;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.box1 p {
    background-color: orange;
    padding: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    border: 5px solid blue;
}