.parent {
    background-color: black;
    width: 600px;
    height: 600px;
    border: 2px solid orange;
    display: flex;


 


 
}

.child {
    width: 100px;
    height: 100px;
    background-color: gainsboro;
    border: 2px solid blue;
 
}
.child--1 {
    flex: 1;
    
}

.child--4 {
    background-color: aqua;
    flex:3;
}

.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: steelblue;
    color: #fff;
}

ul {
    display: flex;
    list-style: none;
    gap: 24px;
}

a {
    text-decoration: none;
    color: inherit;
    font-size: 1.2rem;
}